<settings>
    <category label="30201">
        <setting id="username" type="text" label="30101" default=""/>
        <setting id="password" type="text" option="hidden" label="30102" default="" />
        <setting id="singleProfile" type="bool" label="30103" default="true"/>
        <setting id="showProfiles" type="bool" label="30117" enable="eq(-1,false)" default="false"/>
    </category>
    <category label="30204">
        <setting label="30132" type="action" action="RunPlugin(plugin://plugin.video.andnetflixbmc/?mode=deleteCache)"/>
        <setting label="30125" type="action" action="RunPlugin(plugin://plugin.video.andnetflixbmc/?mode=deleteCookies)"/>
    </category>
</settings>
